<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="sspeTest" connectionString="Data Source=DESKTOP-UH7OE2U\SQLEXPRESS;Initial Catalog=sspeTest;User ID=sa;Password=arkus@123" />-->
    <add name="sspeTest" connectionString="DATA SOURCE=localhost:1521/orcl;PASSWORD=123;USER ID=test;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>